In [1]:
n =2**10
i= 3**2
while i<n:
    print(i)
    i = i*3**1

9
27
81
243
729

In [6]:
n=298
i=32
while i< n:
    print(i)
    i =i+10 
else:
    print('this is my default')

32
42
52
62
72
82
92
102
112
122
132
142
152
162
172
182
192
202
212
222
232
242
252
262
272
282
292
this is my default

In [8]:
n=298
i=32
while i< n:
    print(i)
    i =i+10
    if i ==278 :
        break
else:
    print('this is my default')

32
42
52
62
72
82
92
102
112
122
132
142
152
162
172
182
192
202
212
222
232
242
252
262
272
282
292
this is my default

In [4]:
a = "himanshuprajapatigangadayal"
for i in a:
    print(i)

h
i
m
a
n
s
h
u
p
r
a
j
a
p
a
t
i
g
a
n
g
a
d
a
y
a
l

In [5]:
a = 'himanshu'
for i in a :
    print(i)

h
i
m
a
n
s
h
u

In [6]:
b= "abahy"
for i in b:
    print (i)

a
b
a
h
y

In [7]:
c= [1,2,3,a,sd,'himanshuprajapati',pwisemotion,2.34]

SyntaxError: invalid syntax (2705250658.py, line 1)

In [10]:
for a in c:
    print(type(a))

NameError: name 'c' is not defined

In [15]:
a = [1,2,3,1.332,'himanshu']

In [16]:
for i in a :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>

In [18]:
range(20)

range(0, 20)

In [22]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]